@model WelcomeApp.Models.ViewModel.SessionVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Old:</h1>@Model.Old<br />
<h1>New:</h1>@Model.New<br />
<h1>Session ID:</h1>@Model.SessionID<br />

