@model WelcomeApp.Models.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (@Html.BeginForm("login", "Login"))
{

   <label>Username:</label> @Html.TextBoxFor(m => m.Username);<br />
   <label>Password:</label> @Html.TextBoxFor(m => m.Password);<br />

          <p>@Model.Status</p>

    <input type="submit" value="Login"/>
}

