@model WelcomeApp.Models.ViewModel.SummaryVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Session Count</h1>@Model.SessionCount<br />
<h1>Application Count</h1>@Model.ApplicationCount<br />
