@model IEnumerable<WelcomeApp.Models.ViewModel.DisplayEmpVM>

@{
    ViewBag.Title = "DisplayEmps";
}

<h2>DisplayEmps</h2>

@foreach (var e in Model)
{
    <h1>Employee @e.Name</h1>
    <p>Name: @e.Name</p>
    <p>Salary: @e.Salary</p>
    <p>Hire Date: @e.DateOfHire</p>
}